.table-products-component {
   &__table-image {
      max-width: 120px;
  }

  &__table-quantity {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5px;

  }


}


input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}



